/* #custom styles: */
:root{
  --main-color: #10b981;
  --dark-color: #2B2626;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}
.container{
  max-width: 1266px;
  margin: 0 auto;
}
a {
  display: inline-block;
  color: black;
}
/* Header styles - Start */
header{
  /* background-image: linear-gradient(#f9fcfc,#fff); */
  background-color:#fff;
}
nav {
  padding: 70px 0;
  font-size: 40px;
  font-style: italic;
  font-weight: 400;
  line-height: 48.76px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo span {
  color: #10b981;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.76px;
}
.nav__block {
  display: flex;
  align-items: center;
}
.search__form{
  background-color: #fff;
  margin-right: 37px;
}
.search__form{
  width: 320px;
  position: relative;
}
.search__input{
  width: 100%;
  border: none;
  padding: 24px 72px 24px 30px;
  box-shadow: 0 0 1.5px #ccc;
  outline: none;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
}
.search__input::placeholder{
  color: #29293033;
}
.search__btn{
  position: absolute;
  top: 15px;
  right: 18px;
  border: none;
  background-color:#10b981;
  padding: 9px 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  cursor: pointer;
}
#item__add{
  margin-right: 22px;
}
.nav__btn {
  display: flex;
  align-items: center;
  border:none;
  background-color: transparent;
  border: 1px solid #10b981;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 19px 38px;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  font-size: 16px;
  font-weight: 500;
}
.nav__btn:hover{
  background-color: #10b981;
  color: #fff;
}
.nav__btn svg{
  margin-right: 19px;
}
.nav__btn:hover svg path{
  fill: #fff;
}
.menu{
  background-color: var(--main-color);
}
.menu__list{
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
.menu__list_item:not(:last-child){
  margin-right: 77px;
}
.menu__list_item a{
  color: white;
  font-weight: 600;
}
/* Header styles - End */
.latest__product{
  padding: 106px 0 70px 0;
}
.latest__product_info{
  width: 590px;
}
.info__item h1{
  font-weight: 600;
  font-size: 64px;
  text-transform: capitalize;
  margin-bottom: 45px;
}
.info__item p{
  font-weight: 500;
  font-size: 21px;
  color: var(--dark-color);
  margin-bottom: 60px;
}
.info__item button{
  text-transform: capitalize;
  border:none;
  background-color: var(--main-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 28px 84px;
  color: #fff;
  font-weight: 600;
  font-size: 21px;
  cursor: pointer;
  box-shadow:2px 5px 20px #b5abab
}
.info__item button:hover{
  background-color: #15c98d;
}
.number_of_views{
  display: flex;
  margin-top: 100px;
}
.avatar_images_box{
  position: relative;
}
.avatar_images_box img{
  position: absolute;
}
.avatar_images_box img:nth-child(2){
  left: 40px;
  z-index: 2;
}
.avatar_images_box img:nth-child(3){
  left: 80px;
  z-index: 3;
}
.avatar_images_box img:last-child{
  left: 120px;
  z-index: 4;
}
.views__info{
  margin-left: 192px;
}
.views__info h4{
  text-transform: capitalize;
  font-weight: 500;
  font-size: 26px;
  color: var(--dark-color);
  width: 115px;
}
/* Main styles - Start */
